body {
    background: url("../img/background.jpg");
}

#chatBox {
    overflow-y: overlay;
}

.h-400px {
    height: 400px;
}

.mh-400px {
    min-height: 400px
}

.mh-200px {
    min-height: 200px;
}

.status-text {
    font-size: 14pt;
}